# Membuat `Pandas Series`

Misalkan kita memiliki informasi tentang [pengusaha sukses](https://en.wikipedia.org/wiki/The_World%27s_Billionaires), meliputi namanya, umurnya, total kekayaannya, dan lain sebagainya.

Sebagai contoh, per April 2021, Elon Musk, seorang pengusaha berumur 49 tahun asal Amerika Serikat, memiliki total kekayaan 151 triliun Dolar Amerika Serikat.

Informasi tersebut dapat diungkapkan sebagai berikut:

In [1]:
nama_pengusaha = "Elon Musk"
umur_pengusaha = 49
negara_asal = "Amerika Serikat"
total_kekayaan = 151_000_000_000_000

In [2]:
nama_pengusaha

'Elon Musk'

In [3]:
umur_pengusaha

49

In [4]:
negara_asal

'Amerika Serikat'

In [5]:
total_kekayaan

151000000000000

Walaupun secara teknis memungkinkan, menyatakan informasi dengan cara di atas akan merepotkan jika datanya semakin banyak, baik saat membuat, mengolah, atau menyajikannya.

Informasi tunggal seperti di atas disebut dengan **skalar**. Beberapa skalar dapat dihimpun menjadi satu ke dalam suatu struktur data yang disebut **series**.

Untuk membuat series, hal pertama yang perlu dilakukan adalah mengimpor pustaka **pandas**.

Sesuai kebiasaan umum di bidang ilmu data, disarankan untuk memberi alias **pd** untuk pustaka pandas tersebut.

In [6]:
import pandas as pd

[API](https://pandas.pydata.org/docs/reference/api/pandas.Series.html) untuk membuat pandas series adalah sebagai berikut:

**`pd.Series(data=None, index=None, dtype=None, name=None, copy=False, fastpath=False)`**

Kita mulai dengan contoh implementasi yang paling sederhana.

Kita akan membuat pandas series berisi nama-nama 10 pengusaha terkaya di dunia.

In [7]:
pd.Series(['Jeff Bezos', 'Elon Musk', 'Bernard Arnault', 'Bill Gates', 'Mark Zuckerberg',
           'Warren Buffet', 'Larry Ellison', 'Larry Page', 'Sergey Brin', 'Mukesh Ambani'])

0         Jeff Bezos
1          Elon Musk
2    Bernard Arnault
3         Bill Gates
4    Mark Zuckerberg
5      Warren Buffet
6      Larry Ellison
7         Larry Page
8        Sergey Brin
9      Mukesh Ambani
dtype: object

Artinya, kita cukup memasukkan sebuah objek **list** sebagai argumen untuk parameter data pada saat membuat pandas series dengan pd.Series().

Kita bisa mengkustomasi series yang kita buat, misalnya kita ingin menetapkan indeks, nama, tipe data series tersebut.

Contohnya adalah sebagai berikut.

In [8]:
data_nama_pengusaha = ['Jeff Bezos', 'Elon Musk', 'Bernard Arnault', 'Bill Gates', 'Mark Zuckerberg',
                       'Warren Buffet', 'Larry Ellison', 'Larry Page', 'Sergey Brin', 'Mukesh Ambani']

pd.Series(data_nama_pengusaha, index=range(1, 11), dtype='string', name='nama_pengusaha')

1          Jeff Bezos
2           Elon Musk
3     Bernard Arnault
4          Bill Gates
5     Mark Zuckerberg
6       Warren Buffet
7       Larry Ellison
8          Larry Page
9         Sergey Brin
10      Mukesh Ambani
Name: nama_pengusaha, dtype: string

Perhatikan bahwa indeks kini dimulai dari 1, tipe data sudah berubah menjadi `string`, dan series memiliki nama baru yaitu `nama_pengusaha`.

Kita juga bisa menyimpan pandas series dalam suatu variabel.

Contohnya adalah sebagai berikut.

In [9]:
nama_pengusaha = pd.Series(data_nama_pengusaha, index=range(1, 11), dtype='string', name='nama_pengusaha')
nama_pengusaha

1          Jeff Bezos
2           Elon Musk
3     Bernard Arnault
4          Bill Gates
5     Mark Zuckerberg
6       Warren Buffet
7       Larry Ellison
8          Larry Page
9         Sergey Brin
10      Mukesh Ambani
Name: nama_pengusaha, dtype: string

Contoh lainnya:

In [10]:
# memakai index berupa string
index = ['Jeff Bezos', 'Elon Musk', 'Bernard Arnault', 'Bill Gates', 'Mark Zuckerberg',
         'Warren Buffet', 'Larry Ellison', 'Larry Page', 'Sergey Brin', 'Mukesh Ambani']

umur_pengusaha = pd.Series(
    [57, 49, 72, 65, 36, 90, 76, 48, 47, 63],
    index=index,
    name='umur_pengusaha'
)

negara_asal = pd.Series(
    ['Amerika Serikat', 'Amerika Serikat', 'Perancis', 'Amerika Serikat', 'Amerika Serikat',
     'Amerika Serikat', 'Amerika Serikat', 'Amerika Serikat', 'Amerika Serikat', 'India'],
    index=index,
    name='negara_asal'
)

# memakai dict untuk mendefinisikan sekaligus data dan index
data_total_kekayaan = {'Jeff Bezos':177000000000000, 'Elon Musk':151000000000000,
                       'Bernard Arnault':150000000000000, 'Bill Gates':124000000000000,
                       'Mark Zuckerberg':97000000000000, 'Warren Buffet':96000000000000,
                       'Larry Ellison':93000000000000, 'Larry Page':91500000000000,
                       'Sergey Brin':89000000000000, 'Mukesh Ambani':84500000000000}

data_nama_perusahaan = {'Jeff Bezos':'Amazon', 'Elon Musk':'Tesla, SpaceX',
                        'Bernard Arnault':'LVMH', 'Bill Gates':'Microsoft',
                        'Mark Zuckerberg':'Meta Platforms', 'Warren Buffet':'Berkshire Hathaway',
                        'Larry Ellison':'Oracle Corporation', 'Larry Page':'Alphabet Inc.',
                        'Sergey Brin':'Alphabet Inc.', 'Mukesh Ambani':'Reliance Industries'}

total_kekayaan = pd.Series(data_total_kekayaan, name='total_kekayaan')

nama_perusahaan = pd.Series(data_nama_perusahaan, name='nama_perusahaan')

Hasilnya adalah sebagai berikut.

In [11]:
umur_pengusaha

Jeff Bezos         57
Elon Musk          49
Bernard Arnault    72
Bill Gates         65
Mark Zuckerberg    36
Warren Buffet      90
Larry Ellison      76
Larry Page         48
Sergey Brin        47
Mukesh Ambani      63
Name: umur_pengusaha, dtype: int64

In [12]:
negara_asal

Jeff Bezos         Amerika Serikat
Elon Musk          Amerika Serikat
Bernard Arnault           Perancis
Bill Gates         Amerika Serikat
Mark Zuckerberg    Amerika Serikat
Warren Buffet      Amerika Serikat
Larry Ellison      Amerika Serikat
Larry Page         Amerika Serikat
Sergey Brin        Amerika Serikat
Mukesh Ambani                India
Name: negara_asal, dtype: object

In [13]:
total_kekayaan

Jeff Bezos         177000000000000
Elon Musk          151000000000000
Bernard Arnault    150000000000000
Bill Gates         124000000000000
Mark Zuckerberg     97000000000000
Warren Buffet       96000000000000
Larry Ellison       93000000000000
Larry Page          91500000000000
Sergey Brin         89000000000000
Mukesh Ambani       84500000000000
Name: total_kekayaan, dtype: int64

In [14]:
nama_perusahaan

Jeff Bezos                      Amazon
Elon Musk                Tesla, SpaceX
Bernard Arnault                   LVMH
Bill Gates                   Microsoft
Mark Zuckerberg         Meta Platforms
Warren Buffet       Berkshire Hathaway
Larry Ellison       Oracle Corporation
Larry Page               Alphabet Inc.
Sergey Brin              Alphabet Inc.
Mukesh Ambani      Reliance Industries
Name: nama_perusahaan, dtype: object

Membuat pandas series itu mudah, bukan?