# Attributes pada Pandas Series

Pada topik sebelumnya, "Membuat Pandas Series", kita sudah berhasil membuat series. Lalu apa manfaat yang kita dapat jika data skalar dihimpun ke dalam suatu series?

Manfaat utamanya adalah karena series memiliki attributes dan methods yang dapat dipergunakan untuk mempermudah pengolahan data.

Pada topik kali ini, kita mulai dari attribues melalui contoh sederhana. Pertama, kita akan menggunakan series dari topik sebelumnya.

In [1]:
import pandas as pd

In [2]:
data_umur_pengusaha = {'Jeff Bezos':57, 'Elon Musk':49, 'Bernard Arnault':72, 'Bill Gates':65,
                       'Mark Zuckerberg':36, 'Warren Buffet':90, 'Larry Ellison':76, 'Larry Page':48,
                       'Sergey Brin':47, 'Mukesh Ambani':63}

data_negara_asal = {'Jeff Bezos':'Amerika Serikat', 'Elon Musk':'Amerika Serikat',
                    'Bernard Arnault':'Perancis', 'Bill Gates':'Amerika Serikat',
                    'Mark Zuckerberg':'Amerika Serikat', 'Warren Buffet':'Amerika Serikat',
                    'Larry Page':'Amerika Serikat', 'Mukesh Ambani':'India'}

index = ['Jeff Bezos', 'Elon Musk', 'Bernard Arnault', 'Bill Gates', 'Mark Zuckerberg',
         'Warren Buffet', 'Larry Ellison', 'Larry Page', 'Sergey Brin', 'Mukesh Ambani']

umur_pengusaha = pd.Series(data_umur_pengusaha, name='umur_pengusaha')

negara_asal = pd.Series(data_negara_asal, index=index, name='negara_asal')

In [3]:
umur_pengusaha

Jeff Bezos         57
Elon Musk          49
Bernard Arnault    72
Bill Gates         65
Mark Zuckerberg    36
Warren Buffet      90
Larry Ellison      76
Larry Page         48
Sergey Brin        47
Mukesh Ambani      63
Name: umur_pengusaha, dtype: int64

In [4]:
negara_asal

Jeff Bezos         Amerika Serikat
Elon Musk          Amerika Serikat
Bernard Arnault           Perancis
Bill Gates         Amerika Serikat
Mark Zuckerberg    Amerika Serikat
Warren Buffet      Amerika Serikat
Larry Ellison                  NaN
Larry Page         Amerika Serikat
Sergey Brin                    NaN
Mukesh Ambani                India
Name: negara_asal, dtype: object

Berikut akan dibahas beberapa di antara sekian banyak attributes yang dapat diterapkan pada suatu series.

Pertama, kita dapat mengetahui banyaknya observasi dalam suatu series dengan memanggil attribute **shape**. Contohnya,

In [5]:
negara_asal.shape[0]

10

yang artinya series negara_asal berukuran 10 atau memiliki 10 observasi di dalamnya.

Indeks `0` diperlukan untuk mengakses jumlah baris dalam suatu series, yang tak lain menandakan jumlah observasi di dalam series tersebut.

Perhatikan bahwa `nan` tetap dihitung sebagai observasi. Secara khusus, `nan` akan dibahas pada topik tersendiri.

Attribute shape ini sama dengan ketika kita menjalankan fungsi len() dengan series sebagai argumennya.

In [6]:
len(negara_asal)

10

Khusus pada series, attribute size juga bisa digantikan dengan attribute **size**. Contohnya,

In [7]:
negara_asal.size

10

Kemudian, kita juga bisa memeriksa tipe data suatu series dengan attribute dtype. Contohnya,

In [8]:
umur_pengusaha.dtype

dtype('int64')

Suatu series juga bisa diperiksa apakah di dalamnya terdapat observasi ganda atau tidak melalui attribute **is_unique**. Contohnya,

In [9]:
negara_asal.is_unique

False

yang akan mengembalikan nilai `False` karena dalam series negara_asal terdapat perulangan observasi. Misalnya, negara Amerika Serikat muncul lebih dari 1 kali.

Pemeriksaan terhadap ada tidaknya `nan` dalam suatu series juga bisa dilakukan melalui attribute **hasnans**. Contohnya,

In [10]:
negara_asal.hasnans

True

yang akan mengembalikan nilai True karena di dalam index, terdapat item yang tidak memiliki pasangannya dalam dictionary data_negara_asal, sehingga akan muncul `nan`.

Kita juga dapat mengakses masing-masing observasi di dalam series dengan beberapa alternatif attribute sebagai berikut,

In [11]:
# alternatif 1
negara_asal.at['Mukesh Ambani']

'India'

In [12]:
# alternatif 2
negara_asal.iat[-1]

'India'

In [13]:
# alternatif 3
negara_asal.loc['Mukesh Ambani']

'India'

In [14]:
# alternatif 4
negara_asal.iloc[-1]

'India'

Attributes di atas sama dengan ketika kita mengakses suatu collections menggunakan indeksnya, sebagai berikut.

In [15]:
negara_asal[-1]

'India'

Untuk attributes series yang lain, silakan eksplorasi mandiri lebih jauh. Untuk daftar lengkap attributes pada suatu series, dapat langsung merujuk pada [API](https://pandas.pydata.org/docs/reference/api/pandas.Series.html) pandas series.